.search {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;}

  .search--center{
    align-items: center;
    justify-content: center;
  }

  .search--top{
    align-items: center;
  justify-content: flex-start;
  }